#welcome-world {
    width: auto;
    padding-right: 15px;
    padding-top: 7em;
    justify-content: right;
    padding-left: 15px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

#welcome-world .welcome-message {
    display: inline-block;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    top: 40%;
    text-align: center;
    width: 30%
}

#welcome-world>img {
    margin-bottom: 550px;
    height: 660px;
    display: inline-block;
    vertical-align: middle;
    max-width: 60%;
    margin-left: auto;
    padding-left: auto;
}

.welcome-message h2 {
    color: #86c739;
    font-size: 300%;
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    font-family: "Agency FB";
}

.welcome-message h3 {
    color: #649a42;
    font-size: 620%;
    text-shadow: none;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Agency FB";
}

.welcome-message h4 {
    color: #165c4e;
    font-size: 180%;
    text-shadow: none;
    line-height: 1;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Agency FB";
}