body {
    background-image: url('./background.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body a {
    color: rgb(65, 154, 86);
    text-decoration: none;
    cursor: pointer;
}

.auth {
    width: 100px;
    margin: 8em auto;
}

header {
    width: 100%;
    overflow: hidden;
    color: white;
}

.home {
    font-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    position: relative;
}

header h1 {
    display: inline-block;
    color: white;
    margin-bottom: auto;
}

header nav {
    font-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    right: 0;
    bottom: 8px;
}

header nav>* {
    float: left;
}

nav a {
    margin: 0 0.5em;
}

nav a:hover {
    cursor: pointer;
    color: rgb(82, 133, 139);
    font-weight: bolder;
}

.home:hover {
    color: rgb(82, 133, 139);
}

#user,
#guest {
    margin: 0;
    padding: 0;
}